# ignore everything inside dot-directories

.*/**
.build/**
.idea/**

# Allow .gitignore files inside dot-directories (1 level deep)
#!.idea/.gitignore

# ignore build output
build/
dist/
out/

# ignore auto-imported build system files
gradle/wrapper/
gradlew
gradlew.bat
